 body{
  cursor: none;
 }
 #danseurs{
  display: block;
  position: absolute;
  top: 410px;
  left: 700px;
  z-index: 3;
 }
  .note {
    position: absolute;
    width: 20px;
    height: 20px;
    filter: blur(5px);
    /*background-image: url('images/star.png');
    background-size: cover;*/
    animation: rotateNote 1s linear infinite;
    z-index: 1;
  }
  
  @keyframes rotateNote {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(60deg);
    }
}