@media screen and (min-device-width:600px) {
body{
    display: flex;
    height: 100vh;
    background-image: url("images/fond00.jpg");
    background-size: cover;
    background-position: bottom;

}

article{
    display: none;
}

#chevalet{
    display: block;
    position: fixed;
    width: 19%;
    height: 62%;
    left: 49%;
    top: 25%;
}
#pc{
    display: block;
    position: fixed;
    width: 12%;
    height: 20%;
    top: 33%;
    left: 9%;
}
#miroir{
    display: block;
    position: fixed;
    width: 10%;
    height: 62%;
    top: 20%;
    left: 31.5%;*/

}

img:hover{
    filter: drop-shadow(0 0 1rem black);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
}

@media screen and (max-device-width:600px) {
  body {
    transform: rotate(90deg);
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("images/fond000.jpg");
    background-size: cover;
    background-position: bottom;
  }
  article{
    display: none;
}

#chevalet{
    display: block;
    position: fixed;
    width: 19%;
    height: 62%;
    left: 49%;
    top: 25%;
}
#pc{
    display: block;
    position: fixed;
    width: 12%;
    height: 20%;
    top: 33%;
    left: 9%;
}
#miroir{
    display: block;
    position: fixed;
    width: 10%;
    height: 62%;
    top: 20%;
    left: 31.5%;*/

}

img:hover{
    filter: drop-shadow(0 0 1rem black);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
}