@media screen and (max-device-width:600px) and (orientation: landscape) {
  #danseurs{
    display: block;
    position: absolute;
    width: 50%;
    top: 146px;
    left: 130px;
    z-index: 3;
   }
}

@media screen and (min-device-width:600px) and (orientation: landscape) {
  #danseurs{
    display: block;
    position: absolute;
    width: 50%;
    top: 176px;
    left: 160px;
    z-index: 3;
   }
}

@media screen and (min-device-width:1400px) {
#danseurs{
  display: block;
  position: absolute;
  top: 410px;
  left: 400px;
  z-index: 3;
 }
}