@media screen and (max-device-width:600px) {
    body {
      transform: rotate(90deg);
      background-image: url("images/fond000.jpg");
    }
  }

  @media screen and (min-device-width:600px) {

    body{
    display: flex;
    height: 100vh;
    background-image: url("images/fond00.jpg");
    background-size: cover;
    background-position: bottom;

}

/*@keyframes affichage_texte {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}

article{
    visibility: hidden;
}

article:hover {
    visibility: visible;
}

#pc:active {
    animation: 2s affichage_texte 1;
}*/

#gout_dev, #music, #aboutme {
    position: relative;
    width: 50vw;
    height: auto;
    background-color: aliceblue;
    font-weight: bold;
    border-radius: 50px;
    padding: 5%;
    margin: 5%;
    z-index: 1;
    display: none;
}
#gout_dev{

}
#music {
    margin: 5% 20%;
}
#aboutme {
    margin: 30% 50%;
    align-self: flex-end;
}

#pc{
    display: block;
    position: fixed;
    width: 12%;
    height: 20%;
    top: 35%;
    left: 9%;
}

#radio{
    display: block;
    position: fixed;
    width: 10%;
    height: 20%;
    top: 23%;
    left: 20%;
}

#miroir{
    display: block;
    position: fixed;
    width: 10%;
    height: 60%;
    top: 22%;
    left: 31.5%;*/

}

#chevalet{
    display: block;
    position: fixed;
    width: 19%;
    height: 62%;
    left: 49%;
    top: 25%;
}

#book{
    display: block;
    position: fixed;
    width: 18%;
    height: 23%;
    left: 67%;
    top: 72%;
}

img:hover{
    filter: drop-shadow(0 0 1rem black);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
}
